<h1>SpaceRequest#</h1>
<ul>
  <% @requestors.each do |requestor| %>
    <li>
      <%= requestor.id %>
    </li>
    <li>
      <%= requestor.name %>
    </li>
    <li>
      <%= requestor.email %>
    </li>
  <% end %>
</ul>