<style>
    div.form, .card-title {
        display: block;
        text-align: center;
    }
    form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .btn {
      margin-top: 1em
    }
</style>

<div class="w-75 m-auto mt-2">
  <div>
    <div class="card" >
      <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/100" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">New Space Request</h5>
        <%= render "form", requestor: @requestor %>
      </div>
    </div>
  </div>
</div>

